
.navbar{
    background-color:#5c6bc0;
}

.atas{
    margin-top:80px;
}

.image{
    width:600px;
}

.laravel{
    width:300px;
}

.bg-laravel{
    background-color:#EF533F;
}

.text-laravel{
    color:#EF533F;
}
.bg-abu{
    background-color:black;
}
.bootstrap{
    width:100px;
    margin:25px;
}

.bg-bootstrap{
    background-color:#563D7C;
}
.text-bootstrap{
    color:#563D7C;
}

.text-javascript{
    color:#F7DF1E;
}

.bg-javascript{
    background-color:#F7DF1E;
}

.icon{
    width:250px;
}

.text-purple{
    color:#5c6bc0;
}

.top{
    margin-top:180px;
}

.laravel-hp{
    background-color:#a81207;
}

.bootstrap-icon{
    width:100px;
    height:100px;
    margin:12px;
}

.bootstrap-hp{
    background-color:#3d2b59;
}

.javascript-hp{
    background-color:#dbc619;
}

.bg-github{
    background-color:#000;
}

.github-hp{
    background-color:#4b4a41;
}

.fontS{
    font-size:30px;
}

.fontL{
    font-size:25px;
}